html, body{
margin: 0;
padding: 3px;
box-sizing: border-box;
height: 100%;
}
#app
{
    border-radius: 10px;
    background: linear-gradient(207deg, #A6036D, #F27999);
    height: 100%;
}
.logo{
        position: absolute;
        left: 0;
        height: 300px;
        width: 170px;
        top: -74px;
}
.img_rounded{
        border-radius: 50%;
        height: 300px;
        width: 300px;
        border: 4px solid #F2D272;
}
.slash{
    width: 15px;
    height: 100%;
    transform: skew(-20deg);
    background: #F2D272;
}
.heading-content{
    margin-top: 6.5rem;

}
.heading-content h2 {
    color: #F2D272;
    font-size: 4rem;
}
.heading-content p {
    color: #A0CCF2;
    font-size: 3rem;
    font-weight: lighter;
    font-style: italic;
}
nav ul li a{
    text-decoration: none;
    font-size: large;
    color: #A6036D;
}
nav ul li {
    background-color: white;
    list-style: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 55%;
    margin: 1rem;
}
