html,
body {
    margin: 0;
    /*padding: 3px;*/
    box-sizing: border-box;
    height: 100%;
    background: white;
    border-bottom: 15px solid #F27999;
    border-top: 15px solid #F27999;
    border-right: 15px solid #F27999;
    border-left: 15px solid #F27999;
}
ul li{
    list-style: none;
}
  #app {
        height: 100%;
}

#wave{
    background-image: url('./../../public/img/bcpath.svg');
    position: absolute;
    bottom: 0;
    right: 0;
    -webkit-animation: wave 15s linear infinite;
    animation: wave 15s linear infinite;
    background-position: bottom -460px right -152px;
    background-size: 149rem;
    background-origin: content-box;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    background-repeat: repeat;


}




/* header */
.logo {
   /*  position: absolute;
    left: 0; */
    height: 300px;
    width: 170px;
    /* top: -74px; */
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-header{
    margin-top: -6rem;
}

.nav-rounded{
    display: flex;
    justify-content: flex-end;
}
.nav-rounded li {
    margin-left: 1rem;

}
.nav-rounded li a {
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #D93D1A;
}
/* home content center */

.home-content{
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    height: 21rem;
}
.img_rounded {
    border-radius: 50%;
    height: 300px;
    width: 300px;
    border: 4px solid #A0CCF2;
    box-shadow: -3px 0px 8px -1px rgba(0, 0, 0, 0.349);
    -webkit-box-shadow: -3px 0px 8px -1px rgba(0, 0, 0, 0.349);
    -moz-box-shadow: -3px 0px 8px -1px rgba(0, 0, 0, 0.349);
    margin-right: 2.5rem;
}

.slash {
    width: 15px;
    height: 100%;
    transform: skew(-20deg);
    background: #F2D272;
   box-shadow: -3px 0px 8px -1px rgba(0, 0, 0, 0.349);
   -webkit-box-shadow: -3px 0px 8px -1px rgba(0, 0, 0, 0.349);
   -moz-box-shadow: -3px 0px 8px -1px rgba(0, 0, 0, 0.349);
   margin-right: 4rem;
}

 .heading-content {
    margin-top: 6.5rem;

}

.heading-content h2 {
    color: #D93D1A;
    font-size: 4rem;
    text-shadow: -2px 2px 6px rgba(0, 0, 0, 0.13);

}

.heading-content p {
    color: #A6036D;
    font-size: 3rem;
    font-weight: lighter;
    font-style: italic;
    text-shadow: -2px 2px 6px rgba(0, 0, 0, 0.13);

}
  .balise-right{
     height: 40rem;
     margin-top: -230px;
 }
 .balise-left{
    height: 40rem;
    margin-top: -150px;
 }
/*
nav ul li {
    background:none;
    padding: 0.5rem;
    list-style: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 1rem;
}

nav ul li:not(:nth-last-of-type(-n+2)) {
    border-radius: 50px;
    background-color: #A6036D;
    padding: 0.5rem;
    list-style: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 1rem;

}
nav ul li a {
color: antiquewhite;
font-family: 'Gill Sans',
'Gill Sans MT',
Calibri,
'Trebuchet MS',
sans-serif;
font-size: 1rem;
}
 */

/* transition */
.slide-enter-active,
.slide-leave-active {
    transition: 800ms;
}

.slide-enter {
    transform: translate(100%, 0)
}

.slide-leave-to {
    transform: translate(-130%, 0);
}

/*Timeline*/

.tuile {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
.tuile-dates{
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;

}
.tuile-dates ul{
    min-width: 250px;
    min-height: 250px;
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 10px solid #A0CCF2;
    padding: 0;
    background-color: white;
   /*  border-radius: 75px 0px 75px 0px;
    box-shadow: 1px 1px 2px grey; */

}
/* .tuile-dates ul:nth-child(even){
    border: 10px solid #A0CCF2;
} */
.tuile-dates ul:hover{
    box-shadow: 10px 10px #F2D272;
}

.tuile-dates ul li {
    color: #F27999;
    font-size: 2.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    text-align: center;
    text-shadow: 1px 1px 2px grey;
    cursor: pointer;
}

.title{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    font-weight: bolder;
    color: #A6036D;
}
.timeline-title {
    font-family: 'Gill Sans',
    'Gill Sans MT',
    Calibri,
    'Trebuchet MS',
    sans-serif;
    font-size: 1.5rem;
    font-weight: bolder;
    color: #D93D1A;
white-space: pre-wrap;
}
.project-name{
    font-family: 'Gill Sans',
    'Gill Sans MT',
    Calibri,
    'Trebuchet MS',
    sans-serif;
    font-size: 1.5rem;
    font-weight: bolder;
    color: #A0CCF2;
}
.project-content{
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    white-space: pre-wrap;
}
.tuile-content ul{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding-left: 0;


}
.tuile-content ul li {
    border: 10px solid #F2D272;
    max-width: 500px;
    max-height: 500px;
    margin-right: 1rem;
    padding: 1rem;
    background-color: white;
}


.expand-enter-active, .expand-leave-active{
    transition: all 1s ease-in;

}
.expand-enter, .expand-leave-to{
    transform: translateY(150px);
    opacity: 0;

}
.fade-enter-active,
.fade-leave-active {
    transition: opactity .5s;
}
.fade-enter,
.fade-leave-to {
    opacity: 0;
}

/*Quizz part */

.quizz-head{
    background-color: azure;
    border-radius: 50px;
    display: flex;
    width: 56%;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 30%;
    margin-top: -13rem;
    padding: 1rem;
}
.quizz-head h1{
    color: #A6036D;
}
.quizz-head button {
    background-color: #A6036D;
    border-radius: 50px;
    padding: 1rem;
    color: azure;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    border-style: none;

}
.quizz-block{
    display: flex;
    justify-content: center;
    background-color: azure;
    border-radius: 50px;
}

